@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

@media (min-width: 1921px) {
    :root{
        font-size: 1vw;
    }
}
body{
    overflow-x: hidden;
    font-family: "Sora", sans-serif;
}

