@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

@media (min-width: 1921px) {
    :root{
        font-size: 1vw;
    }
}
body{
    overflow-x: hidden;
    font-family: "Sora", sans-serif;
    scrollbar-width: thin; 
    scrollbar-color: #c277fa #44028f; 
}

.swiper-button-next, .swiper-button-prev{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 1.8rem;
    border-radius: 50%;
    font-size: 10px !important;
    position: absolute;
    bottom: 1rem !important;
    top: 50% !important;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 1.6rem !important;
}
.custom-scrollbar {
    scrollbar-color: #c277fa #44028f;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #44028f;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c277fa;
    border-radius: 4px;
}
.vertical-timeline {
    width: 100% !important;

}